.logo{
    width: 45px;
    height: 45px;
    margin-bottom: 1%;
}

.Body{
    font-family: 思源黑體;
    background-color:#a0a5bb ;
}

.site{
    margin: 15% 10%;
}
.card-body{
    background-color: #f1eff0;
}

a:hover{
    text-decoration: none;
}

.header{
    margin-top: 5%;
}
.checkbox_d{
    margin: 2%;
    font-size: 15px;
}

.heart{
    float: right;
    border: none;
    margin: 0;
}
.heart img{
    width: 50%;
    height: 50%;
}
.back{
    margin: 5%;
}
.slide{
    width: 414px;
    height: 350px;
}
#pic{
    width: 156px;
    height: 99px;
}
.headd{
    font-size: 20px;
    margin-top: 3%;
    right: 6%;
}
.title{
    font-size: 20px;
    margin-top: 3%;
    left: 7%;
}